<!DOCTYPE html>
<html lang="en" dir="ltr" onmouseover="slidein(event)">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel="icon" type="image/x-icon" href="/images/favicondeer.ico">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

<div class="darkMode dark">
   <input type="button" id="darkModeslide" class="darkMode" onclick="changeMode()" active  >

</div>
